{:source-paths ["src"]
 :dependencies [[reagent "1.0.0-alpha2"]
                [org.clojure/core.async "1.2.603"]]
 :dev-http {8000 "public/"}
 :builds {:app {:target :browser
                :output-dir "public/js"
                :asset-path "js"
                :devtools {:browser-inject :main
                           :preloads [shadow.remote.runtime.cljs.browser]}
                :modules {:shared {:entries []}
                          :main {:init-fn emorogue.core/main
                                 :depends-on #{:shared}}
                          :worker {:init-fn emorogue.rotworker/init
                                   :depends-on #{:shared}
                                   :web-worker true}}}
          :prod {:target :browser
                 :output-dir "build/js"
                 :asset-path "js"
                 :modules {:shared {:entries []}
                           :main {:init-fn emorogue.core/main
                                  :depends-on #{:shared}}
                           :worker {:init-fn emorogue.rotworker/init
                                    :depends-on #{:shared}
                                    :web-worker true}}}}}
